body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

.black-background {
    background-color: #000000;
    color: white;
    padding: 10px 0;
   
}

.courses{
    position: absolute;
    left: 10.5rem;
    top: 2rem;
    font-size: large;

}



.icon-left{
   margin-left: 6rem;

}




.buttons {
    position: absolute;
    right: 7rem;
    top: 2rem;  
    
}


.buttons-animation :hover {
    
    background-color: blue;
    
}
 


.middle{
    text-align: center;
}






nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

main {
    margin: 20px;
    padding: 20px;
    background-color: white;
}
