{% load static %}
{% load shared_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Amr Mostafa">
    <meta name="description" content="Courses">
    <link rel="icon" href="{% static 'icons/105e9c04-a153-43b4-bcd4-b025486a4fbb.jpg' %}">
    <title>Home Page</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>

<body>
    {% show_header %}

    <main>
        <section>
            <div class="middle">
                <h1>Create a New Course</h1>
                <p>Fill out the form below to create a new course.</p>
            </div>


            <form action="/submit-course" method="post" enctype="multipart/form-data">

                <label for="course-title">Course Title:</label>
                <input type="text" id="course-title" name="course_title" placeholder="Enter course title" required>
                <br>
                <br>

                <label for="course-description">Course Description:</label>
                <textarea id="course-description" name="course_description" placeholder="Enter course description"
                    required></textarea>
                <br>
                <br>

                <label for="course-price">Course Price (in USD):</label>
                <input type="number" id="course-price" name="course_price" placeholder="Enter price" min="0" required>
                <br>
                <br>

                <label for="course-image">Course Image:</label>
                <input type="file" id="course-image" name="course_image" accept="image/*" required>
                <br>
                <br>

                <label for="course-video">Upload Course Video:</label>
                <input type="file" id="course-video" name="course_video" accept="video/*" required>
                <br>
                <br>

                <input type="submit" value="Create Course">
            </form>
        </section>
    </main>

    {% include 'footer.html' %}
</body>

</html>