{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Amr Mostafa">
    <meta name="description" content="Courses">
    <link rel="icon" href="{% static 'icons/105e9c04-a153-43b4-bcd4-b025486a4fbb.jpg' %}">
    <title>Home Page</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>

<body>

    <header>
        <nav>
            <div class="main-black-background">
                <div class="icon-left"> <img src="105e9c04-a153-43b4-bcd4-b025486a4fbb.jpg" alt="Logo" width="70px"
                        height="70px">
                    <div class="courses">Courses</div>
                </div>
                <div class="nav-container">
                    <ul class="nav-list">
                        <a href="index">
                            <li>Home</li>
                        </a>
                        <a href="categories">
                            <li>Categories</li>
                        </a>
                        <a href="purchased_courses">
                            <li>Purchased Courses</li>
                        </a>
                        <a href="instructorlogin">
                            <li>Instructor</li>
                        </a>
                        <a href="studentlogin">
                            <li>Student</li>
                        </a>
                    </ul>
                </div>
        </nav>
        </div>
    </header>


    <main>
        <div class="middle">
            <h1>Join us today!</h1>
            <p>Sign up now to become a Instructor.</p>

            <form method="post">
                {% csrf_token %}
                <input type="text" name="username" placeholder="Enter Name">
                <input type="email" name="email" placeholder="Enter Email">
                <br>
                <input type="password" name="password" placeholder="Enter Password">
                <input type="password" name="confirm_password" placeholder="Re-Enter Password">
                <br>
                <input type="tel" name="Personal Number" placeholder="Personal Phone Number">
                <input type="tel" name="Qualifications" placeholder="Your Qualifications">
                <br>
                <input type="text" name="Classes can teach" placeholder="Classes you can teach">
                <input type="text" name="Any Experience" placeholder="Any Experience of teaching">
                <br>
                <input type="text" name="address" placeholder="Address">
                <input type="text" name="governorate" placeholder="Governorate">
                <br>
                <input type="text" name="address" placeholder="City">
                <input type="url" name="facebook_link" placeholder="Facebook Link">
                <br>
                <input type="submit" value="Signup">
            </form>

            <p>Already a Instructor? <a href="instructorlogin">Login Here</a></p>
        </div>
    </main>

    <footer>
        <nav class="footer-black-background">
            <ul class="footer-contents">
                <a href="index.html">
                    <li>Home</li>
                </a>
                <a href="categories.html">
                    <li>Categories</li>
                </a>
                <a href="contacts.html">
                    <li>Contacts</li>
                </a>
            </ul>
        </nav>
    </footer>
</body>

</html>