{% load static %}
{% load shared_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Amr Mostafa">
    <meta name="description" content="Courses">
    <link rel="icon" href="{% static 'icons/105e9c04-a153-43b4-bcd4-b025486a4fbb.jpg' %}">
    <title>Home Page</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>

<body>

    {% show_header %}

    {% if not is_student and not is_tutor %}
        <main>
            <div class="middle">
              <h1>Login to view your purchased courses.</h1>
             </div>
         </main>
    {% endif %}
    
    {% if is_student %}
    <main>
        <div class="middle">
          <h1>student</h1>
         </div>
     </main>
    
    {% endif %}
    
    {% if is_tutor %}
    <main>
        <div class="middle">
          <h1>tutor</h1>
         </div>
     </main>
    
    {% endif %}
    {% include 'footer.html' %}
</body>
</html>
