{% load static %}
{% load shared_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Amr Mostafa">
    <meta name="description" content="Courses">
    <link rel="icon" href="{% static 'icons/105e9c04-a153-43b4-bcd4-b025486a4fbb.jpg' %}">
    <title>Home Page</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>

<body>

    {% show_header %}

    <main>
        <div class="middle">
            <h1>Join us today!</h1>
            <p>Sign up now to become a Student.</p>

            <form method="post">
                {% csrf_token %}
                <input type="text" name="username" placeholder="Enter Name">
                <input type="email" name="email" placeholder="Enter Email">
                <br>
                <input type="password" name="password" placeholder="Enter Password">
                <input type="password" name="confirm_password" placeholder="Re-Enter Password">
                <br>
                <input type="tel" name="student_phone" placeholder="Student Phone Number">
                <input type="tel" name="parent_phone" placeholder="Parent Phone Number">
                <br>
                <input type="text" name="academic_year" placeholder="Academic Year">
                <input type="text" name="school" placeholder="School">
                <br>
                <input type="text" name="address" placeholder="Address">
                <input type="text" name="governorate" placeholder="Governorate">
                <br>
                <input type="text" name="address" placeholder="City">
                <input type="url" name="facebook_link" placeholder="Facebook Link">
                <br>
                <input type="submit" value="Signup">
            </form>

            <p>Already a student? <a href="/login/student">Login Here</a></p>
        </div>
    </main>

    {% include 'footer.html' %}
</body>

</html>