<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <nav> 
            <div class="main-black-background"> 
                <div class="icon-left"> 
                    <img src="105e9c04-a153-43b4-bcd4-b025486a4fbb.jpg" alt="Logo" width="70px" height="70px">
                    <div class="courses">Courses</div>
                </div>       
                
                <div class="nav-container">
                    <ul class="nav-list">
                        <a href="index.html"><li>Home</li></a>
                        <a href="categories.html"><li>Categories</li></a>
                        <a href="mycourses.html"><li>My Courses</li></a>
                        <a href="instructorlogin.html"><li>Instructor</li></a>
                        <a href="studentlogin.html"><li>Student</li></a>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <div class="middle">
        <h1>Join us today!</h1>
        <p>Sign up now to become a Student.</p>

        <form action="/submit" method="post">
            <input type="text" name="name" placeholder="Enter Name">
            <input type="email" name="email" placeholder="Enter Email">
            <br>
            <input type="password" name="password" placeholder="Enter Password">
            <input type="password" name="confirm_password" placeholder="Re-Enter Password">
            <br>
            <input type="tel" name="student_phone" placeholder="Student Phone Number">
            <input type="tel" name="parent_phone" placeholder="Parent Phone Number">
            <br>
            <input type="text" name="academic_year" placeholder="Academic Year">
            <input type="text" name="school" placeholder="School">
            <br>
            <input type="text" name="address" placeholder="Address">
            <input type="text" name="governorate" placeholder="Governorate">
            <br>
            <input type="text" name="address" placeholder="City">
            <input type="url" name="facebook_link" placeholder="Facebook Link">
            <br>
            <input type="submit" value="Signup">
        </form>

        <p>Already a student? <a href="studentlogin.html">Login Here</a></p>
        </div>
    </main>

    <footer>
        <nav class="footer-black-background"> 
            <ul class="footer-contents">
                <a href="index.html"><li>Home</li></a>
                <a href="categories.html"><li>Categories</li></a>
                <a href="contacts.html"><li>Contacts</li></a> 
            </ul>
        </nav>
    </footer>
</body>
</html>
