{% load static %}
{% load shared_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Amr Mostafa">
    <meta name="description" content="Courses">
    <link rel="icon" href="{% static 'icons/105e9c04-a153-43b4-bcd4-b025486a4fbb.jpg' %}">
    <title>Home Page</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>

<body>

    {% show_header %}
    <main>
        <section>
            <h2>Here is a list of your uploaded courses:</h2>

            <div class="course-item">
                <h3>Course Title 1</h3>
                <p>Description of the course. nothing yet.</p>
                <a href="course1.html" class="btn">View Course</a>
                <a href="edit-course1.html" class="btn">Edit Course</a>
                <a href="#" class="btn delete">Delete Course</a>
            </div>
            <div class="course-item">
                <h3>Course Title 2</h3>
                <p>Description of the course. nothing yet.</p>
                <a href="course2.html" class="btn">View Course</a>
                <a href="edit-course2.html" class="btn">Edit Course</a>
                <a href="#" class="btn delete">Delete Course</a>
            </div>


        </section>
    </main>

    {% include 'footer.html' %}
</body>

</html>